<%= provide :appointments, "active" %>

<div>
  <h3 class="ml-3">Próximas citas:</h3>

  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Tipo de servicio</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @future_appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.formatted_date %></td>
          <td><%= appointment.start_time %> - <%= appointment.end_time %></td>
          <td><%= appointment.service_name %></td>
          <td><%= link_to 'Reagendar', edit_appointment_path(appointment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Agendar nueva cita", new_appointment_path, class: "container btn btn-success py-2 mb-4 font-weight-bold d-block" %>

  <h2 class="ml-3">Citas pasadas:</h2>

  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Fecha</th>
        <th>Hora de inicio</th>
        <th>Tipo de servicio</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @past_appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.formatted_date %></td>
          <td><%= appointment.start_time %> - <%= appointment.end_time %></td>
          <td><%= appointment.service_name %></td>
          <td><%= link_to 'Reagendar', edit_appointment_path(appointment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>