<%= provide :appointments, "active" %>

<div class="container">
  <h1 class="mb-3">Mis citas:</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Fecha</th>
        <th>Servicio</th>
        <th>Hora</th>
        <th>Opciones</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.start.to_s[0..10] %></td>
          <td><%= appointment.service_name %></td>
          <td><%= appointment.start_time %></td>
          <td><%= link_to 'Editar', edit_appointment_path(appointment) %></td>
          <td><%= link_to 'Eliminar', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Agendar nueva cita", new_appointment_path, class: "btn btn-success py-2 font-weight-bold d-block mb-5" %>
</div>