<div class="ml-5">
  <h2 class="mb-4">¡Muchas gracias!</h2>

  <p>
    <strong>Tipo de servicio:</strong>
    <%= @appointment.service_name %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @appointment.formatted_date %>
  </p>

  <p>
    <strong>Inicio de la cita:</strong>
    <%= @appointment.start_time %>
  </p>

  <p>
    <strong>Término de la cita:</strong>
    <%= @appointment.end_time %>
  </p>

  <%= link_to 'Volver al principio', root_path, class: "btn btn-info font-weight-bold mt-3" %>
</div>
