<!DOCTYPE html>
<html>
  <head>
    <title>Miriam Dibán - Estilista Profesional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
  </head>

  <body id="body">

    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag("logo.png", id: "brand-logo", class: "rounded-pill", alt: "logo") %>
        </a>
        <% if user_signed_in? %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center ml-auto">
              <%= link_to "Inicio", root_path, class: "nav-link  #{ yield :home }" %>
              <%= link_to "Mis citas", appointments_path, class: "nav-link  #{ yield :appointments }" %>
              <%= link_to "Agendar", new_appointment_path, class: "nav-link  #{ yield :new_appointment }" %>
              <%= link_to "Editar cuenta", edit_user_registration_path, class: "nav-link  #{ yield :edit_user }" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "nav-link " %>
            </div>  
          </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
        <% end %>
      </div>
    </nav>

    <div id="page-content">
      <p class="alert alert-dark <%= "d-none" unless notice.present? %>"><%= notice %></p>
      <p class="alert alert-dark <%= "d-none" unless alert.present? %>"><%= alert %></p>
      <div class="pt-5"><%= yield %></div>
    </div>

    <footer>
      <p class="text-right mr-3">Hecho por Iska.</p>
    </footer>
  </body>
</html>
