<div class="text-center p-3">

  <h2>Registro</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, "Nombre" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :phone_number, "Número de celular" %><br />
      <%= f.text_field :phone_number, autocomplete: "Número de celular" %>
    </div>

    <div class="field">
      <%= f.label :profile_pic, "Sube una foto de perfil (opcional)" %><br />
      <%= f.file_field :profile_pic %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Reingresa tu contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

</div>
